@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-background-color: #f3fae1;
    --secondary-background-color: #ae89f8;
    --main-text-color: #333;
    --secondary-text-color: #fff;
    --third-text-color: #5743f0;
    --main-width: clamp(800px, 75%, 1400px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter";
}




/* --- PRESENTATION --- */

.presentation-container {
    background-color: var(--main-background-color);
}

.presentation-container__content {
    width: var(--main-width);
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.presentation-container__text {
    justify-self: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

h1>span {
    color: var(--third-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.text__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text__description>p {
    background: var(--main-background-color);
    filter: brightness(1.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 0 var(--third-text-color);
}

.content__img-container {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}

.content__img-container>img {
    width: 100%;
    border-radius: 31% 69% 48% 52% / 41% 67% 33% 59%;
    box-shadow: 10px 5px 0 var(--third-text-color);
}



/* --- ABOUT ME --- */

.about-me {
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 25px 0;
}

.about-me__path {
    width: var(--main-width);
    margin: auto;
}

.about-me__path>h2 {
    color: var(--main-text-color);
    font-size: 2rem;
    padding: 15px;
}

.about-me__path span {
    text-transform: uppercase;
    text-decoration: underline;
}

.about-me__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 20px 50px;
}

.about-me__container {
    width: 50%;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 25px;
    padding-left: 45px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 10px 5px 0 var(--third-text-color);
}

.about-me__content h3 {
    font-size: 1.3rem;
}

.about-me__container ul {
    width: 100%;
}

.about-me__container li {
    list-style: none;
    margin: 12px;
    border-bottom: 1px solid var(--third-text-color);
    counter-increment: li;
}

.about-me__container li::marker {
    content: "#" counter(li) " ";
    color: var(--third-text-color);
    font-weight: 700;
    font-size: 0.9rem;
    font-style: italic;
}



/* --- ABOUT ME --- */

.projects {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
}

.projects__container {
    width: var(--main-width);
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto));
    grid-auto-rows: auto;
    gap: 30px;
}

.project {
    background-color: var(--main-background-color);
    filter: brightness(1.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 0 var(--third-text-color);
    gap: 20px;
}

.projects__container {
    margin: 35px 0;
}

.project>.img-container {
    width: 100%;
}

.project>.img-container>img {
    border-radius: 15px;
    width: 100%;
}

.project .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.project .text-container h3 {
    color: var(--third-text-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.project .text-container p {
    line-height: ;
}

.contact {
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 25px 0;
}

.contact__container {
    width: var(--main-width);
    margin: auto;
    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__container>form {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}